.canvas-container {
    aspect-ratio: 16 / 9;
    width: 960px;
    height: 540px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3rem auto 6rem 6rem 2rem;
    grid-template-areas: '. sound .' '. . .' '. rules shot' 'run second inprint' '. . .';
    place-items: center;
    @media (max-width: 960px) {
        width: 100%;
        height: auto;
    }
    @media (max-height: 540px) {
        height: 100dvh;
        width: auto;
    }
    @media (max-height: 450px) {
        grid-template-rows: 3rem auto 6rem 4rem 1rem;
    }
}

.cvs-full {
    grid-area: 1 / 1 / span 5 / span 3;
    border-radius: 1rem;
}

@media (min-height: 1800px) {
    .canvas-container {
        width: 1920px;
        height: auto;
        grid-template-rows: 6rem auto 12rem 12rem 4rem;
    }

    .cvs-full {
        border-radius: 3rem;
    }
}