.canvas-container {
    width: 960px;
    height: 540px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 6rem 6rem 2rem;
    grid-template-areas: '. . .' '. rules .' 'run second inprint' '. . .';
    place-items: center;
}

.cvs-full {
    grid-area: 1 / 1 / span 4 / span 3;
    border-radius: 1rem;
}